.title{
    text-align: center;
    display: inline-block;
    width: 100%;
}
.content-class{
    margin-top: 30px;
    text-align: center;
    display: inline-block;
    width: 100%;
}
.gravity{
    margin-top: 50px;
}