<ion-header>
    <ion-toolbar color="danger">
        <ion-title>
            Health Tech&copy;
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f7/Logo_Bayer.svg/1200px-Logo_Bayer.svg.png" alt="Bayer logo" width="70px"/>
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Historia de Bayer &copy; </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>1863 Bayer inició sus actividades el día 7 de agosto de 1863, en una modesta casa, en el valle del río Wupper, donde el comerciante de colorantes Friedrich Bayer y el maestro tintorero Johann Weskott instalaron una pequeña fábrica para producir colorantes artificiales para teñir textiles.</p>
    </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card">
    <img src="https://www.industryweek.com/sites/industryweek.com/files/styles/article_featured_retina/public/uploads/2016/07/monsantofinallogo.jpg?itok=Ta0VXb7h" alt="Monsanto logo"/>
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title class="Monsanto_title">Historia de Monsanto &copy; </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><b>1901</b> - Monsanto fue fundada en St. Louis, Missouri por John Francis Queeny y recibe su nombre por el apellido de su esposa, Olga Méndez Monsanto. <br/> <b>1905</b> - Monsanto fabrica su primer producto, la sacarina, la cual fue comprada en su totalidad en este año a  Coca-Cola.</p>
    </ion-card-content>
  </ion-card>
  <ion-card class="welcome-card">
    <img src="https://img-cdn.hipertextual.com/files/2015/04/Esclavitud-infantil.jpg?strip=all&lossy=1&quality=57&resize=740%2C490&ssl=1" alt="Chocolate"/>
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title class="Monsanto_title">Chocolate y esclavitud</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Puede resultar impensable que el chocolate que nos gusta pudiera venir de las manos de niños que trabajan como esclavos.<br/>
        En Costa de Marfil, y otros países productores de cacao, se estima que hay 100.000 niños...</p>
    </ion-card-content>
  </ion-card>
</ion-content>
