<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title>Registrar nuevo usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form [formGroup]="form" (ngSubmit)="register()">
    
      <ion-item>
          <ion-label position="floating">Correo</ion-label>
          <ion-input type="email" id="correo" formControlName="correo" placeholder="Ingresa tu correo electrónico" autofocus></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input type="text" id="nombre" formControlName="nombre" placeholder="Ingresa tu nombre completo"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" id="contrasena" formControlName="contrasena" placeholder="Contraseña"></ion-input>
      </ion-item>
      
      <ion-item>
          <ion-label position="floating">Seleccionar Rol</ion-label>
          <ion-select id="rol" formControlName="rol" value="Rol" okText="Aceptar" cancelText="Cancelar" >
              <ion-select-option value="Administrador">Administrador</ion-select-option>
              <ion-select-option value="Cliente">Cliente</ion-select-option>
          </ion-select>
      </ion-item>

      <ion-button color="success" expand="full" type="submit" [disabled]="!form.valid">Registrar</ion-button>

  </form>

</ion-content>