<ion-header>
  <ion-toolbar color="danger">
    <!-- <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons> -->
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Detalle de la dieta
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Lunes</h1>
  <div>
    <h2>Desayuno</h2>
    <ul>
      <li>Té</li>
      <li>Dos yogures líquidos semidesnatados</li>
      <li>90g de pan con mermelada light</li>
      <li>Dos nueces</li>
    </ul>
  </div>
  <div>
    <h2>Media Mañana</h2>
    <ul>
      <li>Un plátano</li>
      <li>75g de pan con jamón serrano y tomate natural</li>
    </ul>
  </div>
  <div>
    <h2>Comida</h2>
    <ul>
      <li>75g de estofado de lentejas con zanahoria, puerro, cebolla</li>
      <li>150g de lomo de cerdo a la plancha</li>
      <li>Una pieza de fruta</li>
    </ul>
  </div>
  <div>
    <h2>Merienda</h2>
    <ul>
      <li>Un batido con 300ml de leche, 50g de copos de avena y un puñado de frambuesas</li>
    </ul>
  </div>
  <div>
    <h2>Cena</h2>
    <ul>
      <li>80g de ensalada de tomate, pepino y patata con orégano</li>
      <li>Revuelto de un huevo y una clara, con 30g de gambas y espárragos</li>
      <li>60g de pan tostado con tomate</li>
      <li>Un yogur natural</li>
    </ul>
  </div>
  <hr>
  <h1>Martes</h1>
  <div>
    <h2>Desayuno</h2>
    <ul>
      <li>300ml de bebida de soja con café</li>
      <li>30g de cereales tipo copos de avena</li>
      <li>Dos tostadas de pan con aceite y tomate natural</li>
    </ul>
  </div>
  <div>
    <h2>Media mañana</h2>
    <ul>
      <li>250 ml de zumo de frutas frescas</li>
      <li>Tostada de 75g de pan con queso fresco y tomate natural</li>
    </ul>
  </div>
  <div>
    <h2>Comida</h2>
    <ul>
      <li>60g de macarrones con champiñones, 150g de carne picada de ternera, salsa de tomate natural y orégano</li>
      <li>Una pieza de fruta</li>
    </ul>
  </div>
  <div>
    <h2>Merienda</h2>
    <ul>
      <li>Batido de queso batido, 50g de cereales y una pera </li>
    </ul>
  </div>
  <div>
    <h2>Cena</h2>
    <ul>
      <li>Berenjena y calbacín al horno con pimentón dulce</li>
      <li>200g de pescadilla con 160g de patata hervida</li>
      <li>30g de pan</li>
      <li>Un yogur natural</li>
    </ul>
  </div>
  <h1>Miércoles</h1>
  <div>
    <h2>Desayuno</h2>
    <ul>
      <li>Té </li>
      <li>Dos yogures líquidos semidesnatados</li>
      <li>90g de pan con tres lonchas de pavo y tomate natural</li>
      <li>Seis avellanas</li>
    </ul>
  </div>
  <div>
    <h2>Media mañana</h2>
    <ul>
      <li>Una manzana</li>
      <li>Un vaso de leche con 50g de cereales y canela</li>
    </ul>
  </div>
  <!-- <h2>Comida</h2>
<ul>
  <li></li>
</ul> -->

</ion-content>