.ion-color-green_adi {
    --ion-color-base: var(--ion-color-green_adi);
    --ion-color-base-rgb: var(--ion-color-green_adi-rgb);
    --ion-color-contrast: var(--ion-color-green_adi-contrast);
    --ion-color-contrast-rgb: var(--ion-color-green_adi-contrast-rgb);
    --ion-color-shade: var(--ion-color-green_adi-shade);
    --ion-color-tint: var(--ion-color-green_adi-tint);
}

.ion-color-yellow_adi {
    --ion-color-base: var(--ion-color-yellow_adi);
    --ion-color-base-rgb: var(--ion-color-yellow_adi-rgb);
    --ion-color-contrast: var(--ion-color-yellow_adi-contrast);
    --ion-color-contrast-rgb: var(--ion-color-yellow_adi-contrast-rgb);
    --ion-color-shade: var(--ion-color-yellow_adi-shade);
    --ion-color-tint: var(--ion-color-yellow_adi-tint);
}

.ion-color-red_adi {
    --ion-color-base: var(--ion-color-red_adi);
    --ion-color-base-rgb: var(--ion-color-red_adi-rgb);
    --ion-color-contrast: var(--ion-color-red_adi-contrast);
    --ion-color-contrast-rgb: var(--ion-color-red_adi-contrast-rgb);
    --ion-color-shade: var(--ion-color-red_adi-shade);
    --ion-color-tint: var(--ion-color-red_adi-tint);
}